.header {
  color: white;
}

.maxWidth {
  background-color: #121212;
}

.header__links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

a {
  border-radius: 12px;
}

.brandName {
  padding: 10px;
}
.brandName:hover {
  background-color: #fe4067;
}

a:hover {
  background-color: #2189e5;
}
